@import '@/styles/mixins.scss';
@import './common.scss';

@mixin logoCS {
  @include width-height(13rem, 2rem);
  margin: 0.4rem;
}

@mixin menuContainerCS {
  @include flex-row-pos(space-between, center);
  width: 36rem;
}

@mixin menuListCS {
  font-size: 1.5rem;
}

@include tablet {
  .container {
    @include containerCS;
    .logo {
      @include logoCS;
    }
    .menuContainer {
      @include menuContainerCS;
      .menuList {
        @include menuListCS;
      }
    }
  }
}

@include desktop {
  .container {
    @include containerCS;
    padding: 0 36rem;
    .logo {
      @include logoCS;
    }
    .menuContainer {
      @include menuContainerCS;
      .menuList {
        @include menuListCS;
      }
    }
  }
}
