@import '@/styles/mixins.scss';

.img {
  display: grid;
  &.right {
    grid-column: 2/3;
    grid-row: 1 / 3;
  }
}

.subImg {
  border-radius: 1.6rem;
  box-shadow: 0 0 1rem 0 lightgray;
}

@include mobile {
  .img {
    width: 25rem;
    height: 52rem;
    margin: 5.2rem auto 2rem auto;
  }
  .subImg {
    width: 32.5rem;
    height: 35rem;
  }
}

@include tablet {
  .img {
    width: 25rem;
    height: 52rem;
    order: 1;
    grid-row: 1 / 3;
  }
  .subImg {
    width: 29rem;
    height: 31rem;
  }
}

@include desktop {
  .img {
    width: 37rem;
    height: 76.5rem;
  }
  .subImg {
    width: 37.5rem;
    height: 40rem;
  }
}
