@import '@/styles/mixins.scss';

.text {
  color: $color-4d4d4d;
}

@include mobile {
  .text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.32rem;
    padding: 2rem 0 3.2rem 0;
    text-align: center;
  }
}

@include tablet {
  .text {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
    padding: 2.4rem 0 4.8rem;
    text-align: center;
  }
}

@include desktop {
  .text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    padding: 2.4rem 0 8rem 0;
  }
}
