@import '@/styles/mixins.scss';

.list {
  border-top: 1px solid lightgray;
  &:last-child {
    border-bottom: 1px solid lightgray;
  }
}

@include mobile {
  .list {
    @include width-height(100%, 11rem);
    padding: 1.6rem 2.4rem;
  }
}

@include tablet {
  .list {
    @include width-height(100%, 15rem);
    padding: 2.4rem;
  }
}

@include desktop {
  .list {
    @include width-height(100%, 15rem);
    padding: 2.4rem 4rem;
  }
}
