@import '@/styles/mixins.scss';

.container {
  display: flex;
}

@include mobile {
  .container {
    position: absolute;
    top: 6.4rem;
    right: 2.4rem;
    gap: 0.6rem;
  }
}

@include tablet {
  .container {
    position: absolute;
    top: 7.2rem;
    right: 2.4rem;
    gap: 0.6rem;
  }
}

@include desktop {
  .container {
    gap: 0.6rem;
    padding: 2rem 0 3.2rem 4rem;
  }
}
