@import '@/styles/mixins.scss';

.button {
  background-color: $mainColor;
  border-radius: 0 0 1rem 1rem;
  color: white;
  font-size: 1.7rem;
  font-weight: 400;
}

@include mobile {
}

@include tablet {
}

@include desktop {
  .button {
    position: fixed;
    bottom: 2rem;
    width: 47rem;
    height: 5.6rem;
  }
}
