@import '@/styles/mixins.scss';

@include mobile {
  .container {
    @include flex-column-pos(center, center);
    &.DownloadSection {
      margin-top: 0.8rem;
    }
  }
}

@include tablet {
  .container {
    display: flex;
    gap: 0.8rem;
    &.DownloadSection {
      margin-top: 4rem;
    }
  }
}

@include desktop {
  .container {
    display: flex;
    gap: 1.6rem;
    &.DownloadSection {
      margin-top: 5.2rem;
    }
  }
}
