@import '@/styles/mixins.scss';

@include mobile {
  .container {
    @include flex-column-pos(space-between, center);
    height: 10rem;
  }
}

@include tablet {
  .container {
    @include flex-column-pos(space-between, center);
    height: 12rem;
    .AddressFilterContainer {
      @include flex-row-pos(space-between, center);
      width: 100%;
      margin: auto 0;
    }
  }
}

@include desktop {
  .container {
    @include flex-column;
    width: 47rem;
    padding: 0 4rem;
  }
}
