@import '@/styles/mixins.scss';
@import './common.scss';

#active {
  color: $mainColor;
  &::after {
    border-bottom: 2px solid $mainColor;
  }
}

@mixin logoCS {
  @include width-height(13rem, 2rem);
  margin: 0.4rem;
  cursor: pointer;
}

@mixin menuContainerCS {
  height: 6rem;
  line-height: 6rem;
}

@mixin menuListCS {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 2.4rem;
  height: 100%;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid transparent;
  }
}

@include tablet {
  .container {
    @include containerCS;
    .logo {
      @include logoCS;
    }
    .menuContainer {
      @include menuContainerCS;
      .menuList {
        @include menuListCS;
      }
    }
  }
}

@include desktop {
  .container {
    @include containerCS;
    padding: 0 36rem;
    .logo {
      @include logoCS;
    }
    .menuContainer {
      @include menuContainerCS;
      .menuList {
        @include menuListCS;
      }
    }
  }
  .useWebVersion {
    padding: 0 4rem;
  }
}
