@import '@/styles/mixins.scss';

@mixin text_line_1($fontSize, $textalign: left) {
  font-size: $fontSize;
  font-weight: 400;
  line-height: 135%;
  color: $black;
  text-align: $textalign;
}

@mixin text_line_2($fontSize, $textalign: left) {
  font-size: $fontSize;
  font-weight: 400;
  line-height: 145%;
  color: $sub_black;
  text-align: $textalign;
}

@include mobile {
  .mainDescriptionContainer {
    @include flex-column-pos(center, center);
    margin-top: 4rem;
    .textBtnContainer {
      @include flex-column-pos(center, center);
      .text_line_1 {
        @include text_line_1(2.5rem, center);
      }
      .text_line_2 {
        @include text_line_2(1.6rem, center);
        margin: 2rem 0 3.2rem 0;
      }
      .goWebButton {
        border: none;
        background: none;
        margin-top: 1.2rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.1rem;
        color: $mainColor;
      }
    }
  }
}

@include tablet {
  .mainDescriptionContainer {
    @include flex-column-pos(flex-start, center);
    margin-top: 8rem;
    .text_line_1 {
      @include text_line_1(4rem, center);
    }
    .text_line_2 {
      @include text_line_2(1.8rem, center);
      margin: 2.4rem 0 4.8rem 0;
    }
  }
}

@include desktop {
  .mainDescriptionContainer {
    @include flex-row-pos(center, center);
    margin-top: 11rem;
    .text_line_1 {
      @include text_line_1(6rem);
    }
    .text_line_2 {
      @include text_line_2(2rem);
      margin: 2.4rem 0 8rem 0;
    }
  }
}
