@import '@/styles/mixins.scss';

.container {
  @include flex-column-pos(center, center);
}

@include mobile {
  .container {
    margin: 6rem 0 8rem 0;
    .title {
      @include text_line_1(2.5rem, center);
    }
  }
}

@include tablet {
  .container {
    margin: 15rem 0;
    .title {
      @include text_line_1(3.5rem, center);
    }
  }
}

@include desktop {
  .container {
    margin: 15rem 0;
    .title {
      @include text_line_1(5rem, center);
    }
  }
}
