@import '@/styles/mixins.scss';

.flag {
  position: absolute;
  bottom: 2.8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  @include flex-row-pos(center, center);
  @include width-height(11rem, 4rem);
  background-color: $mainColor;
  border-radius: 100rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  .flagImg {
    @include width-height(2.4rem, 2.4rem);
  }
  .flagText {
    margin-top: 0.2rem;
    font-size: 1.5rem;
    margin-left: 0.6rem;
    color: white;
  }
}
