@import '@/styles/mixins.scss';

.container {
  @include flex-column-pos(center, center);
  background: linear-gradient(
    252.25deg,
    rgba(244, 245, 250, 0.8) 0%,
    rgba(244, 245, 250, 0.208) 48.86%,
    rgba(244, 245, 250, 0.8) 100%
  );
  padding: 6rem 0 5rem 0;
  .textContainer {
    @include flex-column-pos(center, flex-start);
    width: 32rem;
    .line_0 {
      @include flex-row-pos(flex-start, baseline);
      @include text_line_0(1.6rem, left);
      img {
        @include width-height(2.4rem, 2.4rem);
        margin-right: 0.6rem;
      }
    }
    .line_1 {
      @include text_line_1(2.3rem, left);
      margin: 0.8rem 0 1.2rem 0;
    }
    .line_2 {
      @include text_line_2(1.6rem, left);
    }
  }
  .mockupImage {
    @include width-height(27rem, 55rem);
    margin: 5rem 0 2rem 0;
  }
  .exImage {
    @include width-height(33rem, 35rem);
    box-shadow: 0px 1.744px 8.72px rgba(0, 0, 0, 0.12);
    border-radius: 1.4rem;
  }
}
