@import '@/styles/mixins.scss';
@import '../common.scss';

.container {
  @include containerCS;
  position: relative;
  &:not(:first-child) {
    margin-left: 6rem;
  }
  .memberImage {
    @include memberImageCS;
    @include width-height(32rem, 32rem);
  }
  .line_0 {
    @include text_line_1(3rem);
    margin: 2rem 0 0.4rem 0;
  }
  .line_1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: #a1a7b0;
  }
  .hover {
    position: absolute;
    left: 0;
    top: 13.3rem;
    @include flex-column-pos(center, center);
    @include width-height(32rem, 32rem);
    background: rgba(78, 119, 251, 0.8);
    .line_2 {
      width: 20rem;
      @include text_line_2(1.6rem);
      color: white;
      margin-bottom: 3rem;
    }
  }
}
