@import '@/styles/mixins.scss';

.title {
  display: flex;
  color: $mainColor;
  font-weight: 400;
  &.flexEnd {
    align-items: flex-end;
  }
  &.center {
    align-items: center;
  }
  img {
    margin-right: 0.8rem;
  }
}

@include mobile {
  .title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    img {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

@include tablet {
  .title {
    font-size: 2rem;
    line-height: 2.8rem;
    img {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

@include desktop {
  .title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}
