@import '@/styles/mixins.scss';

.text {
  font-weight: 400;
  color: $color-707070;
}

@include mobile {
  .text {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

@include tablet {
  .text {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

@include desktop {
  .text {
    font-size: 2rem;
    line-height: 2.6rem;
  }
}
