@import '@/styles/mixins.scss';

.container {
  overflow-y: scroll;
  background-color: white;
}

@include mobile {
  .container {
    width: 100%;
    height: calc(100% - 22rem);
    position: absolute;
    bottom: 0;
  }
}

@include tablet {
  .container {
    width: 100%;
    height: calc(100% - 18rem);
    position: absolute;
    bottom: 0;
  }
}

@include desktop {
  .container {
    flex: 1;
    &::-webkit-scrollbar {
      width: 0.8rem;
    }
    &::-webkit-scrollbar-thumb {
      background: #4e77fb;
      border-radius: 10rem;
    }
    &::-webkit-scrollbar-track {
      background: rgba(219, 222, 232, 0.4);
    }
  }
}
