@import '@/styles/mixins.scss';

@include mobile {
}

@include tablet {
}

@include desktop {
  .list {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-4d4d4d;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
