@import '@/styles/mixins.scss';
.button {
  @include flex-row-pos(center, center);
  gap: 1rem;
  border: 0.1rem solid $mainColor;
  border-radius: 1rem;
  color: $mainColor;
  font-weight: 400;
  background-color: white;
  padding: 1.1rem 0;
  img {
    width: 2.8rem;
    height: 2.8rem;
  }
}

@include mobile {
  .button {
    font-size: 1.5rem;
    margin: 3.2rem 2.4rem 0.8rem 2.4rem;
    img {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

@include tablet {
  .button {
    font-size: 1.7rem;
    margin: 3.2rem 2.4rem 0.8rem 2.4rem;
    img {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}

@include desktop {
  .button {
    font-size: 1.7rem;
    margin: 3.2rem 2rem 0.8rem 2rem;
    img {
      width: 2.8rem;
      height: 2.8rem;
    }
  }
}
