@import '@/styles/mixins.scss';

@include mobile {
  .container {
    @include flex-column-pos(center, center);
    margin-top: 4rem;
    .textBtnContainer {
      @include flex-column-pos(center, center);
      .text_line_1 {
        @include text_line_1(2.5rem);
      }
      .text_line_2 {
        @include text_line_2(1.6rem);
        margin: 2rem 0 3.2rem 0;
      }
      .goWebButton {
        border: none;
        background: none;
        margin-top: 1.2rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.1rem;
        color: $mainColor;
      }
    }
    .mockImage {
      @include width-height(38rem, 69rem);
    }
  }
}

@include tablet {
  .container {
    @include flex-column-pos(flex-start, center);
    margin-top: 8rem;
    .textBtnContainer {
      .text_line_1 {
        @include text_line_1(4rem);
      }
      .text_line_2 {
        @include text_line_2(1.8rem);
        margin: 2.4rem 0 4.8rem 0;
      }
    }
    .mockImage {
      @include width-height(57rem, 59rem);
    }
  }
}

@include desktop {
  .container {
    @include flex-row-pos(center, center);
    margin-top: 11rem;
    .textBtnContainer {
      .text_line_1 {
        @include text_line_1(6rem, left);
      }
      .text_line_2 {
        @include text_line_2(2rem, left);
        margin: 2.4rem 0 8rem 0;
      }
    }
    .mockImage {
      @include width-height(67rem, 70rem);
    }
  }
}
