@import '@/styles/mixins.scss';

@include mobile {
  .container {
    @include flex-column-pos(center, center);
    background: linear-gradient(
      252.25deg,
      rgba(244, 245, 250, 0.8) 0%,
      rgba(244, 245, 250, 0.208) 48.86%,
      rgba(244, 245, 250, 0.8) 100%
    );
    padding: 6rem 0 5rem 0;
    .textContainer {
      @include flex-column-pos(center, flex-start);
      .line_0 {
        @include flex-row-pos(flex-start, baseline);
        @include text_line_0(1.6rem, left);
        img {
          @include width-height(2.4rem, 2.4rem);
          margin-right: 0.6rem;
        }
      }
      .line_1 {
        @include text_line_1(2.3rem, left);
        margin: 0.8rem 0 1.2rem 0;
      }
      .line_2 {
        @include text_line_2(1.6rem, left);
      }
    }
    .mockupImage {
      @include width-height(27rem, 55rem);
      margin: 5rem 0 2rem 0;
    }
    .exImage {
      @include width-height(33rem, 35rem);
      box-shadow: 0px 1.744px 8.72px rgba(0, 0, 0, 0.12);
      border-radius: 1.4rem;
    }
  }
}

@include tablet {
  .container {
    @include flex-row-pos(center, center);
    background: linear-gradient(
      252.25deg,
      rgba(244, 245, 250, 0.8) 0%,
      rgba(244, 245, 250, 0.208) 48.86%,
      rgba(244, 245, 250, 0.8) 100%
    );
    padding: 8rem 0 7rem 0;
    .leftContainer {
      @include flex-column-pos(center, flex-start);
      .textContainer {
        @include flex-column-pos(center, flex-start);
        .line_0 {
          @include flex-row-pos(flex-start, baseline);
          @include text_line_0(2rem, left);
          img {
            @include width-height(2.6rem, 2.6rem);
            margin-right: 1rem;
          }
        }
        .line_1 {
          @include text_line_1(2.8rem, left);
          margin: 1.2rem 0 1.6rem 0;
        }
        .line_2 {
          @include text_line_2(1.8rem, left);
        }
      }
      .exImage {
        @include width-height(29rem, 31rem);
        box-shadow: 0px 1.744px 8.72px rgba(0, 0, 0, 0.12);
        border-radius: 1.4rem;
        margin-top: 4.8rem;
      }
    }
    .mockupImage {
      @include width-height(26rem, 52rem);
      margin-left: 7.8rem;
    }
  }
}

@include desktop {
  .container {
    @include flex-row-pos(center, center);
    background: linear-gradient(
      252.25deg,
      rgba(244, 245, 250, 0.8) 0%,
      rgba(244, 245, 250, 0.208) 48.86%,
      rgba(244, 245, 250, 0.8) 100%
    );
    padding: 10rem 0;
    .leftContainer {
      @include flex-column-pos(center, flex-start);
      .textContainer {
        @include flex-column-pos(center, flex-start);
        .line_0 {
          @include flex-row-pos(flex-start, baseline);
          @include text_line_0(2.5rem, left);
          img {
            @include width-height(2.6rem, 2.6rem);
            margin-right: 1rem;
          }
        }
        .line_1 {
          @include text_line_1(4rem, left);
          margin: 1.2rem 0 2rem 0;
        }
        .line_2 {
          @include text_line_2(2rem, left);
        }
      }
      .exImage {
        @include width-height(37.5rem, 40rem);
        box-shadow: 0px 1.744px 8.72px rgba(0, 0, 0, 0.12);
        border-radius: 1.6rem;
        margin-top: 8rem;
      }
    }
    .mockupImage {
      @include width-height(38rem, 78rem);
      margin-left: 19rem;
    }
  }
}
