@import '@/styles/mixins.scss';

@include mobile {
  .container {
    @include flex-column-pos(center, center);
    padding: 6rem 0 5rem 0;
    .textContainer {
      @include flex-column-pos(center, flex-start);
      width: 32rem;
      .line_0 {
        @include flex-row-pos(flex-start, baseline);
        @include text_line_0(1.6rem, left);
        img {
          @include width-height(3rem, 3rem);
          margin-right: 0.6rem;
        }
      }
      .line_1 {
        @include text_line_1(2.3rem, left);
        margin: 0.8rem 0 1.2rem 0;
      }
      .line_2 {
        @include text_line_2(1.6rem, left);
      }
      .functionOrderContainer {
        @include flex-column-pos(center, center);
        width: 100%;
        margin-top: 4rem;
        .orderNumber {
          @include flex-row-pos(space-between, center);
          width: 100%;
          padding: 0 1rem 0 1.6rem;
          .number {
            position: relative;
            border: 2px solid $mainColor;
            border-radius: 50%;
            @include width-height(3.2rem, 3.2rem);
            line-height: 3.2rem;
            font-size: 2rem;
            color: $mainColor;
            text-align: center;
            &:not(:nth-child(3)) {
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 3rem;
                background: $mainColor;
                width: 10rem;
                height: 2px;
              }
            }
          }
        }
        .orderText {
          @include flex-row-pos(space-between, center);
          width: 100%;
          margin-top: 1.2rem;
          .text {
            font-size: 1.5rem;
            color: $sub_black;
          }
        }
      }
    }
    .mockupImage {
      margin-top: 5rem;
      @include width-height(33rem, 36rem);
      padding: 3.3rem 3.3rem 0 3.3rem;
      background-color: $mainColor;
      border-radius: 4rem;
    }
  }
}

@include tablet {
  .container {
    @include flex-column-pos(center, center);
    padding: 15rem 0;
    .textContainer {
      @include flex-column-pos(center, flex-start);
      width: 100vw;
      padding: 0 5rem;
      .line_0 {
        @include flex-row-pos(flex-start, baseline);
        @include text_line_0(2rem, left);
        img {
          @include width-height(3rem, 3rem);
          margin-right: 0.8rem;
        }
      }
      .line_1 {
        @include text_line_1(2.8rem, left);
        margin: 1.2rem 0 1.6rem 0;
      }
      .line_2 {
        @include text_line_2(1.8rem, left);
      }
      .functionOrderContainer {
        @include flex-column-pos(center, center);
        width: 42rem;
        margin-top: 4rem;
        .orderNumber {
          @include flex-row-pos(space-between, center);
          width: 100%;
          padding: 0 1rem 0 1.6rem;
          .number {
            position: relative;
            border: 2px solid $mainColor;
            border-radius: 50%;
            @include width-height(3.2rem, 3.2rem);
            line-height: 3.2rem;
            font-size: 2rem;
            color: $mainColor;
            text-align: center;
            &:not(:nth-child(3)) {
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 3rem;
                background: $mainColor;
                width: 15rem;
                height: 2px;
              }
            }
          }
        }
        .orderText {
          @include flex-row-pos(space-between, center);
          width: 100%;
          margin-top: 1.2rem;
          .text {
            font-size: 1.5rem;
            color: $sub_black;
          }
        }
      }
    }
    .mockupImage {
      margin-top: 5rem;
      @include width-height(62.5rem, 53.5rem);
      padding: 2.6rem 12rem 0 12rem;
      background-color: $mainColor;
      border-radius: 6rem;
    }
  }
}

@include desktop {
  .container {
    @include flex-row-pos(center, center);
    padding: 20rem 0;
    .mockupImage {
      @include width-height(60rem, 53.5rem);
      padding: 6.5rem 11rem 0 11rem;
      background-color: $mainColor;
      border-radius: 6rem;
      margin-right: 13.5rem;
    }
    .textContainer {
      @include flex-column-pos(center, flex-start);
      .line_0 {
        @include flex-row-pos(flex-start, baseline);
        @include text_line_0(2.5rem, left);
        img {
          @include width-height(3.4rem, 3.4rem);
          margin-right: 0.8rem;
        }
      }
      .line_1 {
        @include text_line_1(4rem, left);
        margin: 1.2rem 0 2rem 0;
      }
      .line_2 {
        @include text_line_2(2rem, left);
      }
      .functionOrderContainer {
        @include flex-column-pos(center, center);
        width: 42rem;
        margin-top: 4rem;
        .orderNumber {
          @include flex-row-pos(space-between, center);
          width: 100%;
          padding: 0 2rem 0 3rem;
          .number {
            position: relative;
            border: 2px solid $mainColor;
            border-radius: 50%;
            @include width-height(3.2rem, 3.2rem);
            line-height: 3.2rem;
            font-size: 2rem;
            color: $mainColor;
            text-align: center;
            &:not(:nth-child(3)) {
              &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 3rem;
                background: $mainColor;
                width: 13.8rem;
                height: 2px;
              }
            }
          }
        }
        .orderText {
          @include flex-row-pos(space-between, center);
          width: 100%;
          margin-top: 1.2rem;
          .text {
            font-size: 2rem;
            color: $sub_black;
          }
        }
      }
    }
  }
}
