@import '@/styles/mixins.scss';

@include mobile {
  .container {
    @include flex-column-pos(center, center);
    margin: 5.6rem 0;
    .descriptionContainer {
      width: 32rem;
      .line_0 {
        @include flex-row-pos(flex-start, flex-end);
        font-size: 1.6rem;
        font-weight: 400;
        color: $mainColor;
        img {
          @include width-height(2.8rem, 2.8rem);
          margin-right: 0.6rem;
        }
      }
      .line_1 {
        @include text_line_1(2.3rem, left);
        margin: 0.8rem 0 1.2rem 0;
      }
      .line_2 {
        @include text_line_2(1.6rem, left);
      }
    }
    .mockupImage {
      @include width-height(27rem, 55rem);
      margin: 5rem 0 2rem 0;
    }
    .exampleContainer {
      @include flex-column-pos(center, center);
      img {
        @include width-height(33rem, 9rem);
        box-shadow: 0px 0.872px 5.232px rgba(0, 0, 0, 0.16);
        border-radius: 12px;
        &:first-of-type {
          margin-bottom: 1.2rem;
        }
      }
    }
  }
}

@include tablet {
  .container {
    @include flex-row-pos(center, center);
    margin: 15rem 0;
    .mockupImage {
      @include width-height(26rem, 53rem);
      margin-right: 7.5rem;
    }
    div {
      .descriptionContainer {
        .line_0 {
          @include flex-row-pos(flex-start, flex-end);
          font-size: 2rem;
          font-weight: 400;
          color: $mainColor;
          img {
            @include width-height(2.8rem, 2.8rem);
            margin-right: 0.8rem;
          }
        }
        .line_1 {
          @include text_line_1(2.8rem, left);
          margin: 1.2rem 0 1.6rem 0;
        }
        .line_2 {
          @include text_line_2(1.8rem, left);
        }
      }
      .exampleContainer {
        @include flex-column-pos(center, left);
        margin-top: 4.8rem;
        img {
          @include width-height(33rem, 9rem);
          box-shadow: 0px 0.872px 5.232px rgba(0, 0, 0, 0.16);
          border-radius: 12px;
          &:first-of-type {
            margin-bottom: 1.2rem;
          }
        }
      }
    }
  }
}

@include desktop {
  .container {
    @include flex-row-pos(center, center);
    margin: 20rem 0;
    .mockupImage {
      @include width-height(38rem, 78rem);
      margin-right: 25rem;
    }
    div {
      .descriptionContainer {
        .line_0 {
          @include flex-row-pos(flex-start, flex-end);
          font-size: 2.5rem;
          font-weight: 400;
          color: $mainColor;
          img {
            @include width-height(3.3rem, 3.3rem);
            margin-right: 0.8rem;
          }
        }
        .line_1 {
          @include text_line_1(4rem, left);
          margin: 1.2rem 0 2rem 0;
        }
        .line_2 {
          @include text_line_2(2rem, left);
        }
      }
      .exampleContainer {
        @include flex-column-pos(center, left);
        margin-top: 8rem;
        img {
          @include width-height(37.5rem, 10.5rem);
          box-shadow: 0px 0.872px 5.232px rgba(0, 0, 0, 0.16);
          border-radius: 1.6rem;
          &:first-of-type {
            margin-bottom: 1.8rem;
          }
        }
      }
    }
  }
}
