@import '@/styles/mixins.scss';

@mixin buttonContainerCS {
  @include flex-row-pos(space-between, center);
  margin-bottom: 8rem;
}

@mixin buttonCS {
  @include flex-row-pos(center, center);
  background: $black;
  border-radius: 1.2rem;
}

@mixin buttonTextCS {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: $white;
}

@mixin buttonImageCS {
  @include width-height(2.4rem, 2.4rem);
  margin-right: 0.4rem;
}

@include tablet {
  .buttonContainer {
    @include buttonContainerCS;
    width: 35.2rem;
    .button {
      @include buttonCS;
      @include width-height(17rem, 6rem);
      .buttonImage {
        @include buttonImageCS;
      }
      .buttonText {
        @include buttonTextCS;
      }
    }
  }
}

@include desktop {
  .buttonContainer {
    @include buttonContainerCS;
    width: 37.6rem;
    .button {
      @include buttonCS;
      @include width-height(18rem, 6rem);
      .buttonImage {
        @include buttonImageCS;
      }
      .buttonText {
        @include buttonTextCS;
      }
    }
  }
}
