@import '@/styles/mixins.scss';

@include mobile {
  .mainContainer {
    padding-top: 6rem;
  }
}

@include tablet {
  .mainContainer {
    padding-top: 6rem;
  }
}

@include desktop {
  .mainContainer {
    display: flex;
    padding-top: 6rem;
  }
}
