@import '@/styles/mixins.scss';

.shorcutList {
  font-weight: 400;
  color: $color-9fa1a9;
}

@include mobile {
  .shorcutList {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@include tablet {
  .shorcutList {
    font-size: 1.5rem;
    line-height: 2.1rem;
    &:not(:last-child)::after {
      content: '';
      border-right: 1px solid $color-6e717d;
      margin-left: 1.2rem;
    }
  }
}

@include desktop {
  .shorcutList {
    font-size: 1.5rem;
    line-height: 2.1rem;
    &:not(:last-child)::after {
      content: '';
      border-right: 1px solid $color-6e717d;
      margin-left: 1.2rem;
    }
  }
}
