@import '@/styles/mixins.scss';
@import '../common.scss';

.container {
  @include containerCS;
  .logo {
    @include width-height(12rem, 1.8rem);
    margin-top: 0.4rem;
  }
  .menuToggleButton {
    width: 1.4rem;
    color: #b8bdcc;
    z-index: 1;
  }
  .menuContainer {
    @include flex-column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 6rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
    .menuList {
      @include height-lineheight(6rem);
      padding: 0 2.4rem;
      font-size: 1.6rem;
      border-top: 1px solid lightgray;
      background: white;
      &:last-of-type {
        border-bottom: 1px solid lightgray;
      }
    }
  }
}
