@import '@/styles/mixins.scss';

// 모바일 환경에는 없는 스타일
@mixin containerCS {
  white-space: nowrap;
  overflow: hidden;
}

@include mobile {
  .container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3.5rem;
    margin-top: 2.8rem;
    gap: 1rem;
    .image {
      width: 100%;
      height: 6rem;
      padding: 1.6rem 1.8rem;
    }
  }
}

@include tablet {
  .container {
    @include containerCS;
    height: 6rem;
    margin-top: 2.4rem;
    .image {
      animation: slider_tablet 12s linear infinite;
      @include width-height(15rem, 6rem);
      padding: 1.6rem 1.8rem;
    }
  }
}

@include desktop {
  .container {
    @include containerCS;
    height: 9rem;
    margin-top: 4rem;
    .image {
      animation: slider_desktop 12s linear infinite;
      @include width-height(23rem, 9rem);
      padding: 2.4rem 2.6rem;
    }
  }
}

@keyframes slider_tablet {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-120rem);
  }
}

@keyframes slider_desktop {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-184rem);
  }
}
