@import '@/styles/mixins';

@include mobile {
  .container {
    @include flex-row-pos(space-between, center);
    .snsImage {
      @include width-height(1.6rem, 1.6rem);
      cursor: pointer;
    }
  }
}

@include tablet {
  .container {
    @include flex-row-pos(space-between, center);
    .snsImage {
      @include width-height(1.6rem, 1.6rem);
      cursor: pointer;
    }
  }
}

@include desktop {
  .container {
    @include flex-row-pos(space-around, center);
    width: 20rem;
    .snsImage {
      @include width-height(1.6rem, 1.6rem);
      cursor: pointer;
    }
  }
}
