@import '@/styles/mixins.scss';

.container {
  flex: 1;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0.8rem;
  }
  &::-webkit-scrollbar-thumb {
    background: $mainColor;
  }
  &::-webkit-scrollbar-track {
    background: rgba(219, 222, 232, 0.4);
  }
}

@include mobile {
}

@include tablet {
}

@include desktop {
}
