@import '@/styles/mixins.scss';

@include mobile {
}

@include tablet {
}

@include desktop {
  .button {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: 2rem;
    top: 2.4rem;
    background: none;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
