@import '@/styles/mixins.scss';
@import './common.scss';

@mixin line_0CS {
  @include text_line_1(2.5rem);
}

@mixin line_1CS {
  font-size: 2rem;
  font-weight: 400;
  color: #a1a7b0;
  margin: 0.4rem 0 1.6rem 0;
  text-align: center;
}

@mixin line_2CS {
  @include text_line_2(1.6rem);
  margin-bottom: 2.4rem;
}

@include mobile {
  .container {
    @include containerCS;
    &:not(:first-child) {
      margin-left: 2rem;
    }
    .memberImage {
      @include memberImageCS;
      @include width-height(22rem, 22rem);
    }
    .infoContainer {
      .line_0 {
        @include line_0CS;
      }
      .line_1 {
        @include line_1CS;
      }
      .line_2 {
        @include line_2CS;
      }
    }
  }
}

@include tablet {
  .container {
    @include containerCS;
    &:not(:first-child) {
      margin-left: 2.4rem;
    }
    .memberImage {
      @include memberImageCS;
      @include width-height(22rem, 22rem);
    }
    .infoContainer {
      .line_0 {
        @include line_0CS;
      }
      .line_1 {
        @include line_1CS;
      }
      .line_2 {
        @include line_2CS;
      }
    }
  }
}
