@import '@/styles/mixins.scss';

@include tablet {
  .container {
    @include flex-column-pos(center, center);
    padding: 7rem 0 15rem 0;
    .line_0 {
      @include text_line_1(2.8rem);
    }
    .line_1 {
      @include text_line_2(1.8rem);
      margin: 2rem 0 4rem 0;
    }
  }
}

@include desktop {
  .container {
    @include flex-column-pos(center, center);
    padding: 12rem 0 20rem 0;
    .line_0 {
      @include text_line_1(4rem);
    }
    .line_1 {
      @include text_line_2(2.4rem);
      margin: 2rem 0 5.2rem 0;
    }
  }
}
