@import '@/styles/mixins.scss';

.buttonContainer {
  @include flex-row-pos(center, center);
  @include width-height(23rem, 4.8rem);
  border-radius: 1.2rem;
  background-color: $mainColor;
  .buttonImage {
    @include width-height(1.8rem, 1.8rem);
    margin-right: 1rem;
  }
  .buttonText {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: $white;
    padding-top: 0.2rem;
  }
}
