@import './mixins';
@font-face {
  font-family: 'SDGothic';
  src: url('./AppleSDGothicNeoSB.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
}

html {
  width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  font-family: 'SDGothic';
  cursor: default;
  // 375px 일 때 1rem = 10px
  @include mobile {
    font-size: 2.66666vw;
  }
  // 768px --
  @include tablet {
    font-size: 1.30208vw;
  }
  // 1920px --
  @include desktop {
    font-size: 0.52083vw;
  }
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  min-height: 82.5rem;
}

input,
textarea,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

#__next {
  height: 100%;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.infowindow {
  border: none;
  display: flex;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-212121;
}
