////////// CSS 변수 지정 //////////
$mainColor: #4e77fb;
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$black: black;
$sub-black: #4d4d4d;
$white: white;
$color-212121: #212121;
$color-23252d: #23252d;
$color-333333: #333333;
$color-3f4353: #3f4353;
$color-4d4d4d: #4d4d4d;
$color-6e717d: #6e717d;
$color-707070: #707070;
$color-9fa1a9: #9fa1a9;
$color-9e9e9e: #9e9e9e;
$color-a1a6b0: #a1a6b0;
$color-dbdee8: #dbdee8;

////////// Media Query //////////
@mixin mobile {
  @media all and (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media all and (min-width: ($mobile + 1)) and (max-width: $tablet) {
    @content;
  }
}
@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}

////////// Mixins //////////
// flex
@mixin flex-row {
  display: flex;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row-pos($justify: flex-start, $align: stretch) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin flex-column-pos($justify: flex-start, $align: stretch) {
  @include flex-column;
  justify-content: $justify;
  align-items: $align;
}

// width, height
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
@mixin height-lineheight($height) {
  height: $height;
  line-height: $height;
}

// Position
@mixin transformCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Text
@mixin text_line_0($fontSize, $textalign: center) {
  font-size: $fontSize;
  font-weight: 400;
  line-height: 2.2rem;
  color: $mainColor;
  text-align: $textalign;
}

@mixin text_line_1($fontSize, $textalign: center) {
  font-size: $fontSize;
  font-weight: 400;
  line-height: 135%;
  color: $black;
  text-align: $textalign;
}

@mixin text_line_2($fontSize, $textalign: center) {
  font-size: $fontSize;
  font-weight: 400;
  line-height: 145%;
  color: $sub_black;
  text-align: $textalign;
}
